/*.room-sidebar {
  min-width: 280px;
  max-width: 280px;
  height: 100vh;
  background-color: #fff;
}

@media (max-width: 991.98px) {
  .room-sidebar {
    display: none;
  }
}

.rooms-section,
.users-section {
  overflow: hidden;
}

.rooms-section .list-group-item,
.users-section .list-group-item {
  border-left: none;
  border-right: none;
}

.rooms-section .list-group-item:hover:not(.active),
.users-section .list-group-item:hover {
  background-color: #f8f9fa;
}*/
