.chat-input-section {
  background-color: var(--bs-white);
}
@media (max-width: 991.98px) {
  .chat-input-section {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
.chat-input-links .list-inline-item:not(:last-child) {
  margin: 0;
}
