.user-chat {
  background-color: var(--bs-white);
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 991.98px) {
  .user-chat {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 99;
  }
  .user-chat.user-chat-show {
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 991.98px) {
  .user-chat-topbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
.user-chat-nav .nav-btn {
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  font-size: 20px;
  color: var(--bs-secondary-color);
}
@media (max-width: 575.98px) {
  .user-chat-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

/*.layout-wrapper {
  height: 100vh;
  overflow: hidden;
}

.user-chat {
  background-color: var(--bs-white);
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  transition: all 0.4s;
  height: 100vh;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

@media (max-width: 991.98px) {
  .user-chat {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transform: translateX(100%);
    z-index: 99;
  }
  .user-chat.user-chat-show {
    visibility: visible;
    transform: translateX(0);
  }
}*/
