:root {
  --bs-sidebar-bg: #fff;
  --bs-border-color: #f0eff5;
  --bs-sidebar-menu-item-color: #878a92;
  --bs-sidebar-menu-item-active-bg: #f7f7ff;
}
.side-menu {
  min-width: 75px;
  max-width: 75px;
  height: 100vh;
  min-height: 570px;
  background-color: var(--bs-sidebar-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}
@media (max-width: 991.98px) {
  .side-menu {
    position: fixed;
    bottom: 0;
    height: 60px;
    min-width: 100%;
    min-height: auto;
    display: block;
    border-top: 1px solid var(--bs-border-color);
  }
}
.side-menu .navbar-brand-box {
  text-align: center;
}
@media (max-width: 991.98px) {
  .side-menu .navbar-brand-box {
    display: none;
  }
}
.side-menu .navbar-brand-box .logo {
  line-height: 70px;
}
.side-menu .navbar-brand-box .logo-dark {
  display: block;
}
.side-menu .navbar-brand-box .logo-light {
  display: none;
}
.side-menu-nav .nav-item {
  margin: 7px 0;
}
@media (max-width: 991.98px) {
  .side-menu-nav .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 5px 0;
  }
}
.side-menu-nav .nav-item .nav-link {
  text-align: center;
  font-size: 24px;
  color: var(--bs-sidebar-menu-item-color);
  width: 56px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0;
}
@media (max-width: 991.98px) {
  .side-menu-nav .nav-item .nav-link {
    font-size: 20px;
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
}
.side-menu-nav .nav-item .nav-link.active {
  background-color: var(--bs-sidebar-menu-item-active-bg);
  color: #7269ef;
}
.side-menu-nav .nav-item.show > .nav-link {
  background-color: var(--bs-sidebar-menu-item-active-bg);
  color: #7269ef;
}
