/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  font-family: var(--default-font);
  color: var(--default-color);
  background-color: var(--background-color);
}
.no-caret::after {
  display: none !important;
}
.form-select {
  appearance: none;
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: none; /* Firefox */
  background-image: none;
}
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:focus-visible {
  background-color: transparent !important;
  color: inherit !important;
  outline: none !important;
}
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 1px #555;
  border-color: #777;
  outline: none;
}
