:root {
  --body-font-family: "Arial, Helvetica, sans-serif";
  --light: #e6ebf5;
  --dark: #343a40;
}

:root {
  /* --- Светлая тема (Lite) --- */
  --body-bg-color: #f8fafc;
  --card-bg: #ffffff;
  --body-text-color: #101010;
  --subtext-color: #4b5563;
  --input-bg: rgb(251.5, 252, 252.5);
  --input-text: #111827;
  --input-border: var(--light);
  --input-focus: #2563eb;
  --footer-color: #6b7280;
}

[data-theme="dark"] {
  /* --- Тёмная тема (Dark) --- */
  --body-bg-color: #0f111a;
  --card-bg: #1f2937;
  --body-text-color: #ffffff;
  --subtext-color: #9ca3af;
  --input-bg: #e6ebf5;
  --input-text: #f9fafb;
  --input-border: var(--dark);
  --input-focus: #3b82f6;
  --footer-color: #6b7280;
}

/*--------------------------------------------------------------
# LeftSidebarMenu
--------------------------------------------------------------*/
:root {
  --bs-sidebar-bg: #fff;
  --bs-border-color: #f0eff5;
  --bs-sidebar-menu-item-color: #878a92;
  --bs-sidebar-menu-item-active-bg: #f7f7ff;
}
/*--------------------------------------------------------------
# RightSidebarChat
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# ChatHead
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# LeftSidebarMenu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# ChatMessages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# ChatInput
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Autentification
--------------------------------------------------------------*/
