:root {
  --bs-sidebar-bg: #fff;
  --bs-border-color: #f0eff5;
  --bs-sidebar-menu-item-color: #878a92;

  --bs-light: #e6ebf5;

  --bs-primary: #7269ef;
  --bs-primary-rgb: 114, 105, 239;
}

.border-light {
  border-color: #e6ebf5 !important;
  border-color: var(--bs-light) !important;
}

/* Правые сообщения (мои) */
/*.chat-conversation li.right {
  text-align: left;
}

.chat-conversation li.right .ctext-wrap-content {
  justify-content: flex-start;
}*/
