:root {
  --bs-sidebar-bg: #fff;
  --bs-border-color: #f0eff5;
  --bs-sidebar-menu-item-color: #878a92;
}

/* Правые сообщения (мои) */
/*.chat-conversation li.right {
  text-align: left;
}

.chat-conversation li.right .ctext-wrap-content {
  justify-content: flex-start;
}*/
