.border-light {
  border-color: #e6ebf5 !important;
  border-color: var(--bs-light) !important;
}

/* Правые сообщения (мои) */
/*.chat-conversation li.right {
  text-align: left;
}

.chat-conversation li.right .ctext-wrap-content {
  justify-content: flex-start;
}*/
