:root {
  --bs-sidebar-sub-bg: #f5f7fb;
  --bs-border-radius-badge: 50rem;
}

.right-sidebar-layout {
  height: 100vh;
  background-color: var(--bs-sidebar-sub-bg);
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .right-sidebar-layout {
    min-width: 250px;
    max-width: 250px;
  }
}

.rooms-section {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.rooms-list {
  flex: 1;
  overflow-y: auto;
}

.users-section {
  flex: 1; /* оставшиеся 70% */
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.users-list {
  flex: 1;
  overflow-y: auto;
}
.badge-soft-danger {
  color: #ef476f;
  background-color: rgba(239, 71, 111, 0.18);
}
.rounded-badge {
  border-radius: var(--bs-border-radius-badge) !important;
}
