.chat-leftsidebar {
  height: 100vh;
  background-color: var(--bs-sidebar-sub-bg);
}
@media (min-width: 992px) {
  .chat-leftsidebar {
    min-width: 380px;
    max-width: 380px;
  }
}
.chat-leftsidebar .user-status-box {
  background-color: var(--bs-light);
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  margin-top: 16px;
  display: block;
}
.chat-leftsidebar .user-status-box .chat-user-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
